{% extends '@NormandieView/base.html.twig' %}

{% block title %}Grade{% endblock %}

{% block body %}

	{{ bloc("Détail d'un grade ", {expanded: true, expandable: false, "infobulle": info_bulle("") }) }}

    <div class="form" style="width:50%;--label-width:15em;">
        	                	        	
				<div class="form_row">
					<span class="form_label"><label>Libelle long</label></span>
					<div class="form_row_widget">{{ grade.libelleLong }}</div>
                </div>
                
        	                	        	
				<div class="form_row">
					<span class="form_label"><label>Catégorie</label></span>
					<div class="form_row_widget">{{ grade.categorie }}</div>
                </div>
                
        	                	        	
				<div class="form_row">
					<span class="form_label"><label>Actif</label></span>
					<div class="form_row_widget">{{ grade.actif }}</div>
                </div>
                
        
		{% if is_granted('ROLE_DSI') %}
		<div class="form_buttons">
           	{{ button("Retour à la liste", {icone:'annule', url: path('grade_index')}) }}
        </div>
 		{% endif %}	                

    </div>
    
    {{ fin_bloc() }}
    
{% endblock %}